/*----------------------------------
----------------General--------------
------------------------------------*/
body {
    background: url(../images/background.png) no-repeat center center fixed $magenta-light;
    margin-top: 6vh;
    .container{
        border-radius: 10px;
    }
}