/*----------------------------------
----------------General--------------
------------------------------------*/
body {
    background: url(../images/background.svg) no-repeat center center fixed $magenta-light;
    margin-top: 6vh;
    #container{
        border-radius: 10px;
        #header{}
        #logo{
            margin-top: 10px;
            background: url(../images/icon.svg) no-repeat center center fixed;
            height: 320px;
            width: 80px;
            img{
                display: none;
            }
            
        }
    }
    #nav{
        margin: 0px;
        padding: 4px 10px;
        background: #0066CD;
        li a{
            color: white;
        }
    }
}
#poweredBy{
    display: none;
}