/*----------------------------------
--------------- Content ------------
------------------------------------*/
//Contenedor Slides
/*
$gray-light:#EDF1FC;
$gray-dark: #0A0E17;
$purple: #963484;
$pink: #FB6376;
$blue: #4563A2
*/
