/*--------------------------------
---------------Variables------------
------------------------------------*/
$images-path: "../img/"; //
// -------------------------------
// Main Colors
// $white: #ffffff !default;
// $black: #000000 !default;

// $gray-light:#EDF1FC;
// $gray-dark: #0A0E17;
// $purple: #963484;
// $pink: #FB6376;
// $blue: #4563A2;
// $green: #446227;
// $red: #95071a;

$magenta-light: #E8DBFF;
$purple:#5700FF;